body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vH;
  margin: 0;
  background-image: url('img/5_background/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gaegu';
  font-size: 18px;
}

canvas {
	display: inline;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}

.iconHome {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.iconHome img {
  height: 30px;
  filter: invert(1);
  cursor: pointer;
}

.iconHome img:hover {
  filter: invert(0.8);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 5px 5px 15px 5px #000000;
	height: 480px;
	width: 820px;
	overflow: hidden;
}


/* EXPLANATION */
.explanation {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.explanation img {
  height: 100%;
  width: 100%;
}

.explanation span {
  position: absolute;
  left: 20%;
  text-align: center;
  width: 60%;
  font-size: 25px;
}

.actionIcons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 50px;
}

.actionIcons img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 15px;
}

.actionIcons b {
  margin-left: 15px;
  margin-right: 5px;
}

.controls {
  display: flex;
}

/* STARTSCREEN */
.startscreen {
	display: flex;
	width: 100%;
	height: 100%;
}


.startscreen_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.startscreen_buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  width: 100%;
}

.startscreen_buttons img {
  filter: invert();
  transition: filter 125ms ease-in-out;
  cursor: pointer;
  height: 70px;
  margin-right: 10px;
  margin-left: 5px;

}

.startscreen_buttons button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.startscreen_buttons img:hover {
  filter: invert(0.9);
}


/* ENDSCREEN */
.endscreen {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.endscreen_img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.endscreen_button {
  position: absolute;
  left: calc(50% - 62px);
  top: 80%;
  border: 1px solid #b35526;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffc700;
  font-family: 'Gaegu';
  font-size: 24px;
  cursor: pointer;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  transition: background-color 100ms ease-in-out;
}

.endscreen_button:hover {
  background-color: #ebb800;
}


/* MOBILE BUTTONS*/
#icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5%;
  width: 95%;
  bottom: 5px;
  color: white;
}

#icons img {
  height: 35px;
  width: 35px;
  cursor: pointer;
  filter: invert();
}

.bottom {
  bottom: 2% !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* HIDE */
.d-none {
  display: none !important;
}

.v-none {
  visibility: hidden;
}


/* FULLSCREEN */
#fs {
  position: relative;
}

.canvasFullscreen {
  width: 100%;
  height: 100%;
}

.startscreen_fs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.startscreen_img_fs {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.endscreen_fs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.endscreen_img_fs {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullscreen {
	border-radius: unset !important;
	width: 100% !important;
}

/* Loading Screen */

.center {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.ring {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: ring 2s linear infinite;
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
		box-shadow: 1px 5px 2px #ff9701;
	}

	50% {
		transform: rotate(180deg);
		box-shadow: 1px 5px 2px #a7b622;
	}

	100% {
		transform: rotate(360deg);
		box-shadow: 1px 5px 2px #e6426d;
	}
}

.ring:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loadingText {
	color: #737373;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 200px;
	animation: text 3s ease-in-out infinite;
}

@keyframes text {
	50% {
		color: black;
	}
}


@media only screen and (max-width: 1024px) {
  .show {
    display: flex !important;
  }

  #icons {
    justify-content: space-around;
  }

  .controls {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
	canvas {
		width: 100%;
	}

	.turnPhoneScreen {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
		background-color: black;
	}

	.turnPhoneScreen img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}

	.wrapper {
		width: 100%;
		height: unset;
	}

	#fullscreenContainer {
		width: 100%;
	}
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .actionIcons {
    margin-top: 20px;
  }

  .startscreen {
    height: auto;
  }

  .startscreen_img {
    width: 100%;
    height: 100%;
  }

  #icons {
    bottom: 15px;
    font-size: 16px;
  }

  .explanation span {
    font-size: 19px;
  }
}


@media only screen and (max-width: 640px) {
  .actionIcons {
    font-size: 18px;
  }

  .startscreen_buttons img {
    height: 60px;
    width: 60px;
  }
}


@media only screen and (max-width: 560px) {
  .explanation span {
    font-size: 20px;
  }

  #icons {
    font-size: 14px;
    bottom: 15px;
  }

  #icons img {
    height: 25px;
    width: 25px;
  }

  .startscreen_buttons img {
    height: 50px;
    width: 50px;
  }

  .actionIcons {
    font-size: 16px;
    margin-top: 15px;
  }

  .actionIcons img {
    height: 15px;
    width: 15px;
  }
  .explanation span {
    font-size: 15px;
  }
}


@media only screen and (max-width: 500px) {
  .actionIcons {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 470px) {

  .actionIcons {
    font-size: 12px;
  }

  .actionIcons img {
    height: 12px;
    width: 12px;
  }

  .startscreen_buttons img {
    height: 40px;
    width: 40px;
  }

  #icons {
    font-size: 12px;
  }
  .explanation span {
    font-size: 12px;
  }
}


@media only screen and (max-width: 415px) {

  .actionIcons img {
    margin-left: 10px;
  }

  .actionIcons b {
    margin-left: 10px;
  }
}


@media only screen and (max-width: 390px) {

  .actionIcons img {
    margin-left: 8px;
  }

  .actionIcons b {
    margin-left: 10px;
  }

  .startscreen_buttons img {
    height: 25px;
    width: 25px;
  }

  #icons {
    font-size: 10px;
    bottom: 12px;
  }

  #icons img {
    height: 20px;
    width: 20px;
  }
}


@media only screen and (max-width: 315px) {
  .actionIcons {
    margin-top: 0;
  }
}


@media only screen and (max-width: 300px) {

  .actionIcons {
    font-size: 10px;
  }
}


@media only screen and (max-height: 480px) {
  canvas {
    height: 100vH;
    width: 100vw;
    border-radius: 0;
  }

  #fs {
    overflow: hidden;
  }

  .startscreen {
    height: 100vH;
  }

  .startscreen_img {
    height: 100vH;
    width: 100vw;
    border-radius: 0;
  }
}